#caption{
  padding: 25px;
  text-align: center;
  font-size: 1.5em;
}

.index-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media only screen and (max-width: 991px){
  .index-cards .card{
    margin: 20px;
  }
}
